header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: #F5DEB3;
  padding: 1%;
}

header p {
  padding: 0;
  margin: 0;
}
